<p>Bem-vindo <%= @resource.email %>!</p>

<p>Você pode confirmar a criação de seu registro através do link abaixo:</p>

<p><%= link_to 'Confirmar meu registro', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
