<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou o link para alterar sua senha e você fazer isso através do link abaixo.</p>

<p><%= link_to 'Mudar senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não fez essa requisição, por favor ignore esta mensagem.</p>
<p>Sua senha não mudará até que você acesse o link acima e cria uma nova senha.</p>
